
@font-face {
  font-family: 'open_sans';
  src: url('./fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('./fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'open_sans';
  src: url('./fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('./fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'open_sansitalic';
  src: url('opensans-italic-webfont.woff2') format('woff2'),
       url('opensans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'open_sanssemibold';
  src: url('opensans-semibold-webfont.woff2') format('woff2'),
       url('opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


body {
  font-family:"open_sans", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.42;
  font-style: normal;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #29282D;
  margin: 0;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 1142px;
}

.main-page-wrapper {

  color: #fff;
  background: url("./images/lion-background.jpg") center top no-repeat, url("./images/lion-bottom.jpg") right bottom 240px no-repeat; 
}

* {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1142px;
  position: relative;
}

.header {
  position: relative;
  height: 120px;
  margin-bottom: 138px;
}

.logo {
  position: absolute;
  display: block;
  top: 37px;
  left: 0px;
}

.nav {
  position: absolute;
  top: 46px;
  left: 255px;
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 52px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-size: 14px;
  text-decoration: none;
}

.nav__item_active .nav__link {
  color: #DFB56D;
}

.nav__link:hover {
  color: #dfb56d;
}

.address {
  font-style: normal;
}

.contacts {
  position: absolute;
  top: 32px;
  right: 0px;
  text-align: right;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 3px;
  font-style: normal;
}

.contacts__workhours {
  text-decoration: underline;
  font-size: 13px;
  color: #D3A557;
}

.slogan {
  position: relative;
  margin-bottom: 186px;
}

.slogan__text-section {
  width: 505px;
}

.slogan__title {
  font-size: 58px;
  line-height: 1.15;
  font-weight: 700; 
  margin-bottom: 23px;
}

.slogan__text {
  font-size: 18px;
  line-height: 1.11;
  color: #D3A557;
  margin-bottom: 43px;
}

.button-detailed {
  border-radius: 3px;
  background: #DFB56D;
  font-weight: 700;
  font-size: 14px;
  padding: 16px 37px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
}

.button-detailed:hover {
  box-shadow: 0px 8px 35px rgba(223, 181, 109, 0.15);
}

.offers {
  margin-bottom: 119px;
}

.offers__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.cards__item {
  min-height: 450px;
  width: 362px;
  display: inline-block;
  background: #fff;
  margin-right: 23px;
  color: #010001;
  overflow: hidden;
}

.cards__item:last-child {
  margin-right: 0;
}

.cards__header {
  min-height: 150px;
  position: relative;
}

.cards__header:before {
  content: "";
  width: 284px;
  height: 284px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -160px;
  right: -107px;
  background: #ccc;
}

.cards__content {
  padding: 21px 20px;
}

.cards__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 19px;
}

.cards__features-cell {
  display: inline-block;
  vertical-align: top;
  width: 144px;
  margin-right: 15px;
  margin-bottom: 46px;
}

.cards__features-cell:last-child {
  margin-right: 0;
}

.cards__terms {
  font-size: 36px;
  color: #666;
}

.button-detailed-wrapper {
  text-align: center;
}

.cards__img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -44px;
  margin-top: -32px;
}

.button-color-ginger {
  background: #DFB56D;
}

.button-color-ginger:hover {
  background: #d3a556;
  box-shadow: 0px 8px 35px rgba(223, 181, 109, 0.15);
}

.button-color-black {
  background: #202123;
}

.button-color-black:hover {
  background: #DFB56D;
}

.cards__item-theme-grey .cards__header:before{
background: #a5a5a4;
}
.cards__item-theme-blue .cards__header:before{
  background: #556180;
}
.cards__item-theme-gold .cards__header:before{
  background: #978455;
} 

.cards__terms-range {
  font-size: 30px;
}

.news__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.news__list {
  margin-bottom: 47px;
}
.news__item {
  width: 555px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 25px;
  border-radius: 4px;
  overflow: hidden;
}

.news__item:last-child {
  margin-right: 0;
}

.news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  top: 55%;
  /* min-height: 181px; */
}

.news__date {
  font-size: 14px;
  margin-bottom: 15px;
}

.news__subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.pagination {
  text-align: center;
  margin-bottom: 140px;
}

.pagination__info,.pagination__list {
  display: inline-block;
  vertical-align: middle;
}

.pagination__info {
  margin-right: 25px;
}

.pagination__item {
  display: inline-block;
  vertical-align: middle;
}

.pagination__link {
  height: 32px;
  width: 32px;
  display: block;
  border-radius: 50%;
  position: relative;
  font-weight: 700;
  line-height: 32px;
}

.pagination__item-active .pagination__link {
  background-color: #353439;
}

.pagination__link:hover {
  background-color: #353439;
}

.about:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 505px;
  background: url("./images/chess.jpg") center center / cover no-repeat;
}

.about__desc {
  background: #202123;
  padding: 70px 81px;
  display: inline-block;
  vertical-align: top;
  width: 785px;
  margin-left: -140px;
  margin-top: 100px;
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 37px;
}

.about__text {
  margin-bottom: 65px;
  min-height: 110px;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.about {
  margin-bottom: 55px;
}

.footer {
  position: relative;
  height: 140px;
  margin-top: 10px;
}

.footer-container__content {
  border-top: 1px solid #fff;
}

.contacts__desc {
  font-size: 11px;
  color: #9a9a9a;
  font-style: normal;
}

.media {
  position: absolute;
  top: 45px;
  right: 270px;
}

.media__link {
  display: block;
  height: 36px;
  width: 36px;
  background: center center no-repeat;
}

.media__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.media__item:last-child {
  margin-right: 0;
}

.media__item-icon-tg .media__link {
  background-image: url("./images/telegram.jpg");
}
.media__item-icon-tg .media__link:hover {
  background-image: url("./images/telegram-hover.jpg");
}

.media__item-icon-vk .media__link {
  background-image: url("./images/vk.jpg")
}
.media__item-icon-vk .media__link:hover {
  background-image: url("./images/vk-hover.jpg")
}

.media__item-icon-f .media__link {
  background-image: url("./images/f.jpg");
}
.media__item-icon-f .media__link:hover {
  background-image: url("./images/f-hover.jpg");
}

.media__item-icon-inst .media__link {
  background-image: url("./images/in.jpg");
}

.media__item-icon-inst .media__link:hover {
  background-image: url("./images/in-hover.jpg");
}

