
.about:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 505px;
  background: url("../../images/decor/chess.jpg") center center / cover no-repeat;
}

.about__desc {
  background: #202123;
  padding: 70px 81px;
  display: inline-block;
  vertical-align: top;
  width: 785px;
  margin-left: -140px;
  margin-top: 100px;
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 37px;
}

.about__text {
  margin-bottom: 65px;
  min-height: 110px;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.about {
  margin-bottom: 55px;
}