.contacts {
  text-align: right;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  display: inline-block ;
  margin-bottom: 3px;
  font-style: normal;
}

.contacts__workhours {
  text-decoration: underline;
  font-size: 13px;
  color: #D3A557;
  display: inline-block;
}

.contacts__desc {
  font-size: 11px;
  color: #9a9a9a;
  font-style: normal;
}