.footer {
  position: relative;
  min-height: 140px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.footer__col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col--align--right {
  justify-content: flex-end;
}

.footer-container__content {
  border-top: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
}