.media {
  min-width: 174px;
  margin-right: 74px;
}

.media__link {
  display: block;
  height: 36px;
  width: 36px;
  background: center center no-repeat;
}
.media__list {
  display: flex;
  justify-content: space-between;
}
/* .media__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
} */

.media__item:last-child {
  margin-right: 0;
}

.media__item-icon-tg .media__link {
  background: url("../../images/icons/media-sprite.png") -234px -10px;
}
.media__item-icon-tg .media__link:hover {
  background: url("../../images/icons/media-sprite.png") -290px -10px;
}

.media__item-icon-vk .media__link {
  background: url("../../images/icons/media-sprite.png") -346px -10px;
}
.media__item-icon-vk .media__link:hover {
  background: url("../../images/icons/media-sprite.png") -402px -10px;
}

.media__item-icon-f .media__link {
  background: url("../../images/icons/media-sprite.png") -10px -10px;
}
.media__item-icon-f .media__link:hover {
  background: url("../../images/icons/media-sprite.png") -66px -10px;
}

.media__item-icon-inst .media__link {
  background: url("../../images/icons/media-sprite.png") -122px -10px;;
}

.media__item-icon-inst .media__link:hover {
  background: url("../../images/icons/media-sprite.png") -178px -10px;
}