
.nav__list {
  display: flex;
  justify-content: space-between;
  min-width: 264px;
}

.nav__link {
  font-size: 14px;
  text-decoration: none;
}

.nav__item_active .nav__link {
  color: #DFB56D;
}

.nav__link:hover {
  color: #dfb56d;
}

