.pagination {
 display: flex;
 justify-content: center;
 align-items: center;
}

.pagination__info {
  margin-right: 25px;
}

.pagination__item {
  text-align: center;
}

.pagination__list {
  display: flex;
  justify-content: center;
}

/* .pagination__item {
  display: inline-block;
  vertical-align: middle;
} */

.pagination__link {
  height: 32px;
  width: 32px;
  display: block;
  border-radius: 50%;
  position: relative;
  font-weight: 700;
  line-height: 32px;
}

.pagination__item-active .pagination__link {
  background-color: #353439;
}

.pagination__link:hover {
  background-color: #353439;
}