.separator {
  background: #E5C288 url(../../images/decor/phone-n-hand.png) right 20% bottom no-repeat;
  min-height: 360px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #202020;
}

.separator__content {
  max-width: 45%;
}

.separator__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
}