

.service {
  display: flex;
  padding: 49px 30px;
  text-decoration: none;
}

.service__img {
  width: 40%;
  margin-right: 5%;
}

.service__content {
  flex: 1;
}

.service__item-title {
  font-size: 36px;
  font-weight: 700;
  width: 510px;
}

.service__title {
  font-size: 36px;
  color: #202020;
  font-weight: 700;
  margin-bottom: 53px;
}

.service__desc {
  line-height: 1.7;
  margin-bottom: 53px;
}

.services__list {
  margin-bottom: 52px;
}

.service:hover {
  background: #f5f5f5;
}

.service:hover .service__button {
  background: #DFB56D;
}