.services__main {
  background: #f2f2f2;
}

.services__list {
  width: 100%;
}

.services__item {
  display: block;
  min-height: 387px;
}

.services__img {
  display: inline-block;
  width: 460px;
  height: 333px;
}

.services__item-title {
  font-size: 36px;
  font-weight: 700;
  display: inline-block;
  width: 510px;
}