.services__partners {
  background: #f4f5f5;
  position: relative;
}

.partners__title {
  font-size: 48px;
  font-weight: 700;
  color: #202020;
  margin-bottom: 88px;
  margin-top: 88px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  width: 1146px;
  height: 192px;
  align-content: space-between;
}

.partners__item {
  flex: 1;  
}