.services__list {
  margin-top: 90px;
  margin-bottom: 80px;
}


.service {
  display: flex;
  text-decoration: none;
  margin-bottom: 80px;
  position: relative;
}

.service__img {
  width: 40%;
  margin-right: 5%;
}

.service__content {
  flex: 1;
}

.service__item-title {
  font-size: 36px;
  font-weight: 700;
  width: 510px;
}

.service__title {
  font-size: 36px;
  color: #202020;
  font-weight: 700;
  margin-bottom: 53px;
}

.service__desc {
  line-height: 1.7;
  margin-bottom: 53px;
}

.services__list {
  margin-bottom: 52px;
}

.service:before {
  content: "";
  position: absolute;
  background: #000;
  z-index: -1;
  width: 1500px;
  height: 200px;
}

.service:hover .service__button {
  background: #DFB56D;
}