.services__header {
  position: relative;
  height: 412px;
  color: #fff;
  background: url('../../images/bg/lion-head.png');
}

.services__header .header {
  margin-bottom: 90px;
  
}

.services__title {
  position: absolute;
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 50px;
  display: block;
}

.services__nav {
  position: absolute;
  display: inline-block;
  bottom: 0;
}